/* Dark mode styles */
body.dark-mode {
  --background-color: #121212;
  --main-text-color: #f1f1f1;
  --header-color: #f1f1f1;
  --light-background: #2a2a2a;
  --secondary-color: #f1f1f1;
  --hover-color: #3C6E71;
  --underline-color: #d9d9d9;
}

body.dark-mode .logo {
  filter: invert(1) hue-rotate(180deg);
}

body.dark-mode .nav-links a:hover {
  color: var(--hover-color);
}

body.dark-mode .SocialButtons{
  background-color: var(--light-background);
}

#darkModeBtn {
  border: none;
  width: 60px;
  height: 40px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  transition: all 0.3s ease;
}

/* Light mode button */
#darkModeBtn.light {
  background-color: #000;
  color: #fff;
  justify-content: flex-end;
}

/* Dark mode button */
#darkModeBtn.dark {
  background-color: #fff;
  color: #000;
  justify-content: flex-start;
}

/* Optional hover effect */
#darkModeBtn:hover {
  opacity: 0.85;
}

#darkModeBtn:hover .mode-icon {
  background-color: var(--main-color);
}
