.underline{
  position: relative;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  font-family: var(--font-primary);
}
.underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: var(--color-encabezado);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.6s ease-out;
}
/* solo cuando entra en vista */
.underline.animar::after {
  transform: scaleX(1);
}

@media (max-width: 400px) {
  .underline{
    font-size: 1.3rem;
  }
  
}
@media (max-width: 900px) and (min-width: 401px) {
  .underline{
    font-size: 1.3rem;
  }

}