/* || SECTIONS / CARDS */
.card {
    --padding: 0.8rem;
    background-color: var(--color-background-section);
    color: var(--color-primary-text);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: var(--padding);
    width: calc((100vw - var(--sidebar-width) - (var(--gap-card-section) * 4)) / 4);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card a {
    text-decoration: none;
    /* quita subrayado */
    color: inherit;
    /* mantiene color del card */
}

.card a:hover {
    text-decoration: none;
    /* opcional: que no aparezca al hover */
}


.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}

.card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
}

.card p {
    font-weight: 600;
}


.card-title {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.5rem;
}

.card-subtitle {
    font-size: 0.8rem;
    opacity: 0.8;
    margin-top: -1rem;
}

/* || ANIMACIONES */

.parallax-card {
    transition: transform 0.2s ease;
    transform-style: preserve-3d;
}

@media (max-width: 400px) {

    .card {
        display: flex;
        width: 90%;
    }

    .card p {
        font-weight: 300;
    }

}

@media (max-width: 900px) and (min-width: 401px) {

    .card {
        display: flex;
        width: calc((100vw - (var(--gap-card-section) * 2)) / 2);
    }

    .card p {
        font-weight: 300;
    }
}