.dropdown-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    position: relative;  
    border: none;
}

.dropdown-item {
    background-color: var(--color-encabezado);
    color: var(--color-fondo);
    text-decoration: none;
    padding: 1px;
    border: none;    
}
