.section {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: var(--section-width);
    gap: var(--gap-card-section);
    position: relative;
    overflow: visible;
    height: auto; 
}
.section-title {
    margin-top: 0.8rem;
    font-weight: 500;
    /* text-shadow: var(--text-shadow); */
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2rem 1rem;
}

@media (max-width:400px){
 .section{
    width: 100vw;
  }
}
@media (max-width: 900px) and (min-width: 401px) {
  .section{
    width: 100vw;
  }
}