.sidebar {
  width: var(--sidebar-width);
  height: 100vh;
  background-color: var(--color-encabezado);
  color: var(--color-fondo);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  font-family: var(--fuente-texto);
  gap: 5%;
  overflow-y: auto;
  transition: transform 0.3s ease;
}
.menu-toggle {
  display: none;
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--color-encabezado);
  cursor: pointer;
  z-index: 1001;
}

.logo {
  margin: 10px;
  max-height: 50px;
  max-width: 200px;
}

.nav-links {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.nav-links button {
  background-color: var(--color-encabezado);
  color: var(--color-fondo);
  text-decoration: none;
  padding: 10px;
  border: none;
  font-size: 1rem;
}

.nav-links button:hover {
  color: var(--color-secundario);
}

@media (max-width: 900px) {
  .menu-toggle {
    display: block;
  }
  .logo-container{
    margin-top: 60px;
  }

 .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    height: 100vh;
    transform: translateX(-100%); /* oculta fuera de la pantalla */
    transition: transform 0.3s ease;
    z-index: 1000;
  }
  .sidebar.open {
  transform: translateX(0);
}
.app-container.sidebar-open .main-content {
    transform: translateX(var(--sidebar-width));
    transition: transform 0.3s ease;
  }
}





